nav-bar {
	background-color: #FFFBF0 !important;
	font-family: roboto !important;
}
.back-yellow {
	background-color: #FFFBF0;
}
.yellow {
	color: #FABE4C;
}
.welcome {
	font-family: Bebas Neue;
}
header {
	height:950px;
}