nav-bar {
	background-color: #fffbf0 !important;
	font-family: roboto !important;
}
.back-yellow {
	background-color: #fffbf0;
}
.yellow {
	color: #fabe4c;
}
.welcome h1 {
	font-family: lobster !important;
}
.welcome .gap {
	margin-top: 100px;
}
/* header {
	height: 950px;
} */
/* .women-jacket {
	height: 950px;
} */
.women-jacket .card {
	/* background-color: grey !important; */
	border-radius: 20px;
}
/* .jacket img {
	background-color: grey !important;
	border:0px;
} */
.img-1,
.img-2,
.img-3, .img-4, .img-5, .img-6 {
	background-color: lightgrey !important;
	border: 0px !important;
	border-radius: 30px !important;
}
.img-1{
	width: 90% !important;
}
.img-2 {
	width: 65% !important;
}
.img-3 {
	width: 70% !important;
}
.img-4 {
	width: 70% !important;
}
.img-5 {
	width: 90% !important;
}
.img-6 {
	width: 65% !important;
}
.men-jacket .img-1,
.ment-jacket .img-3 {
	width: 70%;
	margin-left: 60px;
}
@media (min-width: 920px) {
	.card-image {
		background-color: lightgrey;
		border-radius: 20px;
		height: 400px;
	}
	.women-jacket {
		height: 950px;
	}
}
@media (max-width: 400px) {
	.card-imge {
		height: 600px;
		background-color: lightgrey !important;
		border-radius: 20px;
	}
	.card-3{
		margin-bottom: 300px;
	}
	header{
		/* height: 1400px; */
	}
	.women-jacket{
		/* height: 1400px; */
	}
}
.item {
	border: 0px !important;
}
.men-jacket .img-2 {
	width: 90%;
	margin-left: 20px;
}
.men-img-3 {
	margin-left: 30px;
	background-color: lightgrey !important;
	border: 0px !important;
}
.column {
	border-radius: 30px;
}
.about img{
	border: 0px;
	width: 120px;
}
.about {
	height: 950px;
}