nav-bar {
	background-color: #FFFBF0 !important;
	font-family: roboto !important;
}
.back-yellow {
	background-color: #FFFBF0;
}
.yellow {
	color: #FABE4C;
}
.welcome h1 {
	font-family: lobster !important;
}
.welcome .gap{
	margin-top: 100px;
}
header {
	height:950px;
}
.women-jacket{
	height: 950px;
}
.women-jacket .card{
	/* background-color: grey !important; */
	border-radius: 20px;
}
/* .jacket img {
	background-color: grey !important;
	border:0px;
} */
.img-1, .img-2, .img-3{
	background-color: lightgrey !important;
	border: 0px !important;
}
.women-jacket .img-2{
	width: 80% !important;
	margin-left: 30px;
}
.men-jacket .img-1,.ment-jacket .img-3 {
	width: 70%;
	margin-left: 60px;
}
 .card-image {
	background-color: lightgrey;
	border-radius: 20px;
	height: 500px;
}
.item {
	border: 0px !important;
}
.men-jacket .img-2 {
	width: 90%;
	margin-left: 20px;
}
.men-img-3 {
	margin-left: 30px;
	background-color: lightgrey !important;
	border: 0px !important;
}